@model WebQLCuaHangThucPham.Models.DonHang
@using WebQLCuaHangThucPham.Models;

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
    var db = new QLCuaHangThucPhamEntities1();
    var lstCtdh = db.CTDHs.Where(x => x.MaDH == Model.MaDH).ToList();
}

<div class="content">
    <div class="card">
        <!-- /.card-header -->
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal ">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.MaDH)
                    <div class="form-group d-flex">
                        <label class="control-label col-md-2">Thời Gian Tạo </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Time_Create, new { htmlAttributes = new { @class = "form-control", @readOnly = "readdonly" } })
                            @Html.ValidationMessageFor(model => model.Time_Create, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group d-flex">
                        <label class="control-label col-md-2">Tổng Tiền </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Money, new { htmlAttributes = new { @class = "form-control", @readOnly = "readdonly" } })
                            @Html.ValidationMessageFor(model => model.Money, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group d-flex">
                        <label class="control-label col-md-2">Tên Khách Hàng </label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.KhachHang.HoTen, new { htmlAttributes = new { @class = "form-control", @readOnly = "readdonly" } })
                            @Html.ValidationMessageFor(model => model.KhachHang.HoTen, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group d-flex w-100">
                        <div class="col-md-12 d-flex justify-content-end">
                            <a href="/admins/DonHangs/" class="btn btn-danger mx-1">Quay lại</a>
                        </div>
                    </div>
                </div>
            }
            <h2>Chi tiết đơn hàng @Model.MaDH</h2>

            <table class="table  table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Mã chi tiết đơn hàng</th>
                        <th>Mã Sản phẩm </th>
                        <th>Tên Sản phẩm </th>
                        <th>
                            Số lượng
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in lstCtdh)
                    {
                        <tr>
                            <td>@item.MaCTDH</td>
                            <td>@item.MaSP</td>
                            <td>@item.SanPham.TenSP</td>
                            <td>@item.SoLuong</td>  
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
